<div class="emote{{#thirdParty}} third-party{{/thirdParty}}{{^isVisible}} emote-menu-hidden{{/isVisible}}{{#isStarred}} emote-menu-starred{{/isStarred}}" data-emote="{{text}}" title="{{text}}{{#thirdParty}} (from 3rd party addon){{/thirdParty}}">
	<img class="lazy-emote" data-src="{{{url}}}" src="">
	<div class="edit-tool edit-starred" data-which="{{text}}" data-command="toggle-starred" title="Star/unstar emote: {{text}}"></div>
	<div class="edit-tool edit-visibility" data-which="{{text}}" data-command="toggle-visibility" title="Hide/show emote: {{text}}"></div>
</div>
