<div class="emote-menu dropmenu" id="emote-menu-for-twitch">
	<div class="draggable"></div>

	<div class="group-header">All Emotes</div>
	<div class="group-container scrollable" id="all-emotes-group"></div>

	<div class="group-header">Popular Emotes</div>
	<div class="group-container single-row" id="popular-emotes-group"></div>

	<div class="footer">
		<a class="pull-left icon icon-github" href="https://github.com/cletusc/Userscript--Twitch-Chat-Emotes" target="_blank" title="Visit the project page on Github"></a>
		<a class="pull-left icon icon-popular-emotes-location" data-command="toggle-popular-emote-location" title="Change popular emotes location"></a>
		<a title="Reset the popularity of the emotes back to default" data-command="reset-popularity">Reset Popularity</a>
		<a class="pull-right icon icon-resize-handle" data-command="resize-handle"></a>
	</div>
</div>
