<div class="emote-menu" id="emote-menu-for-twitch">
	<div class="emote-menu-inner">

		<div class="draggable"></div>

		<div class="scrollable scrollbar-macosx">
			<div class="group-container" id="all-emotes-group"></div>
		</div>

		<div class="sticky">
			<div class="group-header single-row" id="starred-emotes-group">
				<div class="header-info">Favorite Emotes</div>
				<div class="emote-container"></div>
			</div>

			<div class="footer">
				<a class="pull-left icon icon-home" href="http://cletusc.github.io/Userscript--Twitch-Chat-Emotes" target="_blank" title="Visit the homepage where you can donate, post a review, or contact the developer"></a>
				<a class="pull-left icon icon-gear" data-command="toggle-editing" title="Toggle edit mode"></a>
				<input type="search" placeholder="Search emotes..." data-command="search-emotes" id="emote-menu-search">
				<a class="pull-right icon icon-resize-handle" data-command="resize-handle"></a>
				<a class="pull-right icon icon-pin" data-command="toggle-pinned" title="Pin/unpin the emote menu to the screen"></a>
			</div>
		</div>

	</div>
</div>
