#emote-menu-button {
	background-image: url(../images/smiley.png) !important;
	background-position: 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-left: 7px;
}
#emote-menu-button.active {
	border-radius: 2px;
	background-color: rgba(128, 128, 128, 0.5);
}
.emote-menu {
	padding: 5px;
	z-index: 1000;
	/* Hidden on load, display is handled by JS. */
	display: none;
}
.emote-menu {
	background-color: #202020;
}

.emote-menu a {
	color: #fff;
}
.emote-menu a:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #ccc;
}

.emote-menu .emotes-popular {
	height: 38px;
}
.emote-menu .draggable {
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.05) 5px, rgba(255, 255, 255, 0.05) 10px);
	cursor: move;
	height: 7px;
	margin-bottom: 3px;
}
.emote-menu .draggable:hover {
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.1) 5px, rgba(255, 255, 255, 0.1) 10px);
}
.emote-menu .group-header {
	border-top: 1px solid black;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
	background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5));
	padding: 2px;
	color: #ddd;
	text-align: center;
}
.emote-menu .group-header img {
	margin-right: 8px;
}

.emote-menu .emote {
	display: inline-block;
	padding: 2px;
	margin: 1px;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	position: relative;
	width: 32px;
	height: 32px;
}
.emote-menu .emote img {
	max-width: 32px;
	max-height: 32px;

	/* Center within container. Container must have a `position` other than `static`. */
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.emote-menu .single-row {
	overflow: hidden;
	height: 37px;
}
.emote-menu .single-row .emote {
	display: inline-block;
	margin-bottom: 100px;
}

.emote-menu .emote:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.emote-menu .pull-left {
	float: left;
}
.emote-menu .pull-right {
	float: right;
}

.emote-menu .footer {
	text-align: center;
	border-top: 1px solid black;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
	padding: 5px 0 2px;
	margin-top: 5px;
}
.emote-menu .footer .pull-left {
	margin-right: 5px;
}
.emote-menu .footer .pull-right {
	margin-left: 5px;
}

.emote-menu .icon {
	height: 16px;
	width: 16px;
	opacity: 0.5;
	background-size: contain !important;
}
.emote-menu .icon:hover {
	opacity: 1.0;
}
.emote-menu .icon-home {
	background: url(../images/home.svg) no-repeat 50%;
}
.emote-menu .icon-resize-handle {
	background: url(../images/resize-handle.svg) no-repeat 50%;
	cursor: nwse-resize !important;
}

.emote-menu .icon-pin {
	background: url(../images/pin.svg) no-repeat 50%;
	transition: all 0.25s ease;
}
.emote-menu.pinned .icon-pin,
.emote-menu .icon-pin:hover {
	transform: rotate(-45deg);
	opacity: 1.0;
}

/* Override custom scroll bar defaults. */
.emote-menu .scrollable.default-skin {
	padding-right: 0;
	padding-bottom: 0;
}
.emote-menu .scrollable.default-skin .scroll-bar .thumb {
	background-color: #555;
	opacity: 0.2;
	z-index: 1;
}
