@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

#emote-menu-button {
	background-image: url(../images/smiley.svg) !important;
	background-size: 20px;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 30px;
	width: 30px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.9;
	float: left;
}
#emote-menu-button:hover {
	-webkit-filter: none;
	filter: none;
	opacity: 1;
}
#emote-menu-button:focus {
	box-shadow: none;
}
#emote-menu-button.active {
	-webkit-filter: none;
	filter: none;
	opacity: 1;
	box-shadow: 0 0 6px 0 #7d5bbe, inset 0 0 0 1px rgba(100, 65, 164, .5);
}
.emote-menu {
	padding: 5px;
	z-index: 9999;
	/* Hidden on load, display is handled by JS. */
	display: none;
}
.emote-menu {
	background-color: #202020;
	position: absolute;
}

.emote-menu a {
	color: #fff;
}
.emote-menu a:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #ccc;
}

.emote-menu .emotes-starred {
	height: 38px;
}
.emote-menu .draggable {
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.05) 5px, rgba(255, 255, 255, 0.05) 10px);
	cursor: move;
	height: 7px;
	margin-bottom: 3px;
}
.emote-menu .draggable:hover {
	background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.1) 5px, rgba(255, 255, 255, 0.1) 10px);
}
.emote-menu .header-info {
	border-top: 1px solid black;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
	background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5));
	padding: 2px;
	color: #ddd;
	text-align: center;
	position: relative;
}
.emote-menu .header-info img {
	margin-right: 8px;
}

.emote-menu .emote {
	display: inline-block;
	padding: 2px;
	margin: 1px;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	position: relative;
	width: 30px;
	height: 30px;
	transition: all 0.25s ease;
	border: 1px solid transparent;
}
.emote-menu.editing .emote {
	cursor: auto;
}
.emote-menu .emote img {
	max-width: 100%;
	max-height: 100%;

	/* Center within container. Container must have a `position` other than `static`. */
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.emote-menu .single-row .emote-container {
	overflow: hidden;
	height: 37px;
}
.emote-menu .single-row .emote {
	display: inline-block;
	margin-bottom: 100px;
}

.emote-menu .emote:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.emote-menu .pull-left {
	float: left;
}
.emote-menu .pull-right {
	float: right;
}

.emote-menu .footer {
	text-align: center;
	border-top: 1px solid black;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
	padding: 5px 0 2px;
	margin-top: 5px;
	height: 18px;
	background: none;
}
.emote-menu .footer .pull-left {
	margin-right: 5px;
}
.emote-menu .footer .pull-right {
	margin-left: 5px;
}

.emote-menu .icon {
	height: 16px;
	width: 16px;
	opacity: 0.5;
	background-size: contain !important;
}
.emote-menu .icon:hover {
	opacity: 1.0;
}
.emote-menu .icon-home {
	background: url(../images/home.svg) no-repeat 50%;
}
.emote-menu .icon-gear {
	background: url(../images/gear.svg) no-repeat 50%;
}
.emote-menu.editing .icon-gear {
	animation: spin 4s linear infinite;
}
.emote-menu .icon-resize-handle {
	background: url(../images/resize-handle.svg) no-repeat 50%;
	cursor: nwse-resize !important;
}

.emote-menu .icon-pin {
	background: url(../images/pin.svg) no-repeat 50%;
	transition: all 0.25s ease;
}
.emote-menu.pinned .icon-pin,
.emote-menu .icon-pin:hover {
	transform: rotate(-45deg);
	opacity: 1.0;
}

.emote-menu .edit-tool {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 14px;
	border-radius: 4px;
	border: 1px solid #000;
	cursor: pointer;
	display: none;
	height: 14px;
	opacity: 0.25;
	position: absolute;
	transition: all 0.25s ease;
	width: 14px;
	z-index: 1;
}
.emote-menu .emote:hover .edit-tool,
.emote-menu .edit-tool:hover {
	opacity: 1.0;
}
.emote-menu .edit-visibility {
	background-color: rgb(0, 200, 0);
	background-image: url(../images/eye-open.svg);
}
.emote-menu .edit-starred {
	background-color: rgb(50, 50, 50);
	background-image: url(../images/star-dark.svg);
}
.emote-menu .emote > .edit-visibility {
	bottom: auto;
	left: auto;
	right: 0;
	top: 0;
}
.emote-menu .emote > .edit-starred {
	bottom: auto;
	left: 0;
	right: auto;
	top: 0;
}
.emote-menu .header-info > .edit-tool {
	margin-left: 5px;
}
.emote-menu.editing .edit-tool {
	display: inline-block;
}
.emote-menu .emote-menu-hidden .edit-visibility {
	background-image: url(../images/eye-closed.svg);
	background-color: rgb(255, 0, 0);
}
.emote-menu .emote-menu-starred .edit-starred {
	background-image: url(../images/star.svg);
}
.emote-menu .emote.emote-menu-starred {
	border-color: rgba(200, 200, 0, 0.5);
}
.emote-menu .emote.emote-menu-hidden {
	border-color: rgba(255, 0, 0, 0.5);
}
.emote-menu:not(.editing) .emote-menu-hidden,
.emote-menu #starred-emotes-group .emote:not(.emote-menu-starred) {
	display: none;
}
.emote-menu:not(.editing) #starred-emotes-group .emote-menu-starred {
	border-color: transparent;
}
.emote-menu #starred-emotes-group {
	text-align: center;
	color: rgb(100, 100, 100);
}
.emote-menu #starred-emotes-group:empty:before {
	content: "Use the edit mode to star an emote!";
	position: relative;
	top: 8px;
}
.emote-menu .scrollable {
	height: calc(100% - 101px);
	overflow-y: auto;
}
.emote-menu .sticky {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.emote-menu .emote-menu-inner {
	position: relative;
	max-height: 100%;
	height: 100%;
}

#emote-menu-search {
	outline: none;
	border: none;
	font-size: 14px;
	padding: 1px 10px;
	background-color: rgb(0 0 0 / 15%);
	color: white;
}